
body{
font-family:Arial,sans-serif;
margin:0;
padding:0;
background:#f7f7f7;
}

header{
background:#0c5b36;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:80px;
text-align:center;
background:#e9f5ec;
}

footer{
background:#0c5b36;
color:white;
text-align:center;
padding:15px;
}
